@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 150px 2fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

#sidebar {
    grid-area: sidebar;
    border-right: 1px solid #cbd5e1;
    padding: 40px 30px;
}

#sidebar > h1 {
    border-left: 5px solid #10b981;
    padding-left: 20px;
    margin-bottom: 100px;
}

.active-genre {
    border-left: 5px solid #e11d48;
    padding-left: 20px;
}

#genres > h3 {
    margin-bottom: 20px;
    cursor: pointer;
}

#header {
    grid-area: header;
    padding: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    background-color: #f3f4f6;
}

#searchbar {
    display:flex;
    flex-direction: row;
}

#searchbar > img {
    margin-right: 10px;
    width: 30px;
    height: auto;
}

#search {
    border: none;
    border-radius: 20px;
    width: 80%;
    height: 40px;
    font-size: 1.2rem;
    padding-left: 20px;
    color: #9ca3af;
}


#userinfo {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-right: 50px;
}

#userinfo > img {
    width: 60px;
    height: auto;
}

#userinfo #avatar {
    position: relative;
    top: 5px;
    padding: 0 20px;
}

#userinfo #arrow {
    width: 26px;
    height: auto;
    padding-left: 2px;
}

#main{
    grid-area: main;
    background-color: #f3f4f6;
    padding: 20px 100px;
}


#books {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

#bookFilters {
    margin-right: 6px;
}

#books .likeBtn,
#books .readBtn {
    margin-right: 30px;
    color: #e11d48;
    border: none;
    background-color: #f3f4f6;
    cursor: pointer;
}

#books .readBtn {
    color: #9ca3af;
}

#books #isReading,
#books #isLiked {
    font-size: 1.8rem;
}

#books > h2 {
    padding-left: 10px;
    font-weight: 300;
}

#books > button {
    position: relative;
    top: 2px;
    border: none;
    background-color: #f3f4f6;
    cursor: pointer;
    margin-right: 15px;
}


#card-container {
    overflow: auto;
    display: grid;
    gap: 10px;
    padding: 4px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
}

.card {
    height: 300px;
    padding: 15px 15px;
    border-radius: 10px;
    border: 1px solid #cbd5e1;
    background-color: white;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 20px;
    grid-template-rows: 1fr 40px;
    grid-template-areas: 
    "text close"
    "buttons buttons";
}

.formCard {
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.hide {display: none}

#addCard {
    height: 330px;
    border: none;
    padding: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    display: flex;
}

#addCard> button {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #ecfdf5;
    cursor: pointer;
    border: 1px solid #cbd5e1;
    width: 100%;
}

#addCard > button > span {
    font-size: 6rem;
    font-weight: 300;
    color: #10b981; 
}

#bookForm > input {
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #cbd5e1;
    font-size: 0.9rem;
    height: 1.5rem;
    padding-left: 5px;
}

#bookForm > textarea {
    font-size: 0.9rem;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #cbd5e1;
}

#bookForm > button {
    font-size: 1rem;
    padding: 8px 8px;
    border: none;
    background-color: #10b981;
    color: white;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}




.closeBtn {
    grid-area: close;
    background-color: white;
    justify-self: end;
    align-self: start;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.bottomBtns {
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.bottomBtns > button {
    background-color: white;
    border: none;
    margin: 10px;
    cursor: pointer;
}

.likeBtn {
    color: #e11d48;
    border: none;
}

.readBtn {
    color: #9ca3af;
    border: none;
}

.card-text {
    grid-area: text;
    margin-top: 10px;
}

.card-text > h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-text > h3 {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 15px;
    color: #9ca3af;
}

.card-text > p {
    font-size: 1rem;
    font-weight: 300;
}
